.dish-page-main {
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0px;
  left: 50%;
  max-height: calc(100vh - 40px); 
  overflow-y: auto;
  transform: translateX(-50%);
  z-index: 1000; 
  padding: 20px;

.dishPage-image {
  width: 111%;
}

.close-btn {
  width: 14px;
  height: 14px;
  margin-left: 15px;
  padding-bottom: 10px;
}

.dish-page-first-container{
  margin-left: 20px;

  .dish-page-dish-name {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.67px;
    text-align: left;
    margin-bottom: 14px;
  }
  
  .dish-page-dish-ingredients {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 18px;
    letter-spacing: 1.97px;
    text-align: left;
    margin-bottom: 40px;
  }
}

.dish-page-second-container{
  margin-left: 20px;

  .label-line {
    position: relative;
    display: inline-block;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 18px;
    letter-spacing: 1.97px;
    text-align: center;
    margin-bottom: 24px;
  }

  .label-line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 1px; 
    background-color: orange; 
  }

  .changes-container,
  .sides-container,
  .qu-container{
    margin-bottom: 20px;
  }

  .side-option,
  .change-option {
    margin-bottom: 24px;
  }

  .side-option input[type="radio"] + label,
  .change-option input[type="checkbox"] + label {
    margin-left: 10px;
    cursor: pointer;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 36px;
    letter-spacing: 1.97px;
    text-align: center;
    color: black;
  }
}

.signs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;

  h1{
    padding-left: 32px;
    padding-right: 32px;
  }

  .menus-sign{
    width: 17px;
  }

  .plus-sign {
    width: 17px;
    height: 17px;
  }

  button {
    border: none;
    background: none;
    color: black;
    font-size: 60px;

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }

  h1 {
    margin: 0 10px;
  }
}

.add-to-bag-btn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.67px;
  text-align: center;
  padding: 15px 30px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
  margin-bottom: 48px;
}

.add-to-bag-btn:hover {
  background-color: darkorange;
}

.Dish-page-footer ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
}

.Dish-page-footer ul li {
  margin-top:20px;
  margin-bottom: 20px;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 1.9199999570846558px;
  text-align: left;

}

// /////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and (min-width: 768px){
  position: fixed;
  width: 556px; 
  height: auto;  
  top: 515px;
  left: 50%; 
  transform: translate(-50%, -50%);
  max-height: calc(100vh - 40px); 
  overflow-y: auto;
  z-index: 1000;
  padding: 20px;
  
  .close-btn {
    width: 18px;
    height: 18px;
    margin-left:5px;
    margin-top: -5px;
    padding-bottom: 300px;
  }

  .dishPage-image {
    overflow-x: none;
    position: absolute;
    top: 0;
    margin-top: 50px;
    margin-right: 50px;
    width:111%;
    height: 280px;
    object-fit: cover;
    
  }
  
  .dish-page-first-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;

    .dish-page-dish-name{
      font-size: 32px;
      margin-bottom: 5px;
    }

    .dish-page-dish-ingredients{
      width: 232px;
      text-align: center;
      margin-bottom: 20px;
    }

    .dish-page-icons{
      margin-right: 200px;
      img{
        width: 40px;
        height: 30px;
        margin-bottom: -15px;
        margin-left: 200px;
        margin-bottom: 14px;
      }
    }

    .line-with-value {
      position: absolute;
      bottom: 315px;
      margin-bottom: 40px;
      left: 52%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      width: 50%;
      flex-direction: row;

      .card-dish-price {
        font-family: Helvetica Neue;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 1.9700000286102295px;
        text-align: center;
        margin-right: 10px;
      }

      img {
        width: 10px;
        height: 20px;
        margin-bottom: -5px;
        margin-right: 5px;
      }

      .line {
        width: 10%;
        flex-grow: 1;
        height: 1px;
        background-color: #979797;
        margin-right: 18px;
      }
    }
  }

  .dish-page-second-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .dish-page-all-changes,
    .dish-pages-all-sides{
      margin-bottom: -14px;
    }

    .label-line{
      text-align: center;
      align-items: center;
    }

    .qu-container{
      margin-bottom: 10px;
    }
  }

  .add-to-bag-btn{
    margin-left: 190px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 999; 
  }
  
  
  .Dish-page-footer{
    display: none;
  }}
}

.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Darken the background */
  z-index: 999; 
}

